Es ist eine Woche her, seit Sie Plausible nutzen.<br /><br />
Wir haben Plausible entwickelt, weil Web-Analyse zu komplex und zu invasiv geworden ist.<br /><br />
Wir glauben, dass Analyse einfach zu verstehen, schnell zu laden und respektvoll gegenüber Ihren Besuchern sein sollte.<br /><br />
Keine Cookies. Keine personenbezogenen Daten. Keine Überwachung. Nur klare Einblicke, wie Ihre Website abschneidet.<br /><br />
<a href={plausible_url()}>Öffnen Sie Ihr Dashboard</a>
