Sie haben Ihr Plausible-Konto erstellt, aber noch keine Website hinzugefügt.<br /><br />
Das Hinzufügen Ihrer ersten Website dauert nur eine Minute und bringt Sie von der Anmeldung direkt zu echtem Traffic.<br /><br />
<a href={"#{plausible_url()}/sites/new"}>Erste Website hinzufügen</a>
<br /><br />
Falls Sie Hilfe beim Einstieg benötigen, führt Sie unsere Dokumentation Schritt für Schritt durch die Einrichtung:<br />
<a href="https://plausible.io/docs">https://plausible.io/docs</a>
