{@inviter.email} hat Sie zur {@site.domain} Website auf Stateofweb Analytics eingeladen.
<a href={Routes.site_url(PlausibleWeb.Endpoint, :index) <> "?__team=none"}>Klicken Sie hier</a>, um die Einladung anzuzeigen und zu beantworten. Die Einladung
läuft 48 Stunden nach dem Versand dieser E-Mail ab. Falls diese Einladung abgelaufen ist, wenden Sie sich bitte an die Person, die Sie eingeladen hat, und bitten Sie sie, die Einladung erneut zu senden.
