Ihre Plausible-Testversion ist abgelaufen und Ihr Dashboard ist jetzt gesperrt.<br /><br />
Wir zeichnen Ihre Besucherstatistiken weiterhin im Hintergrund auf, sodass nichts verloren geht, während Sie sich entscheiden.<br /><br />
Sobald Sie bereit sind, upgraden Sie Ihr Konto, um Ihr Dashboard freizuschalten und ohne Unterbrechung fortzufahren.<br /><br />
<a href={PlausibleWeb.Router.Helpers.billing_url(PlausibleWeb.Endpoint, :choose_plan) <> "?__team=#{@team.identifier}"}>
  Konto upgraden
</a>
<br /><br />
Wir zeichnen noch {@extra_offset} weitere Tage lang Statistiken auf. Wenn Sie in diesem Zeitraum upgraden, wird Ihr Dashboard einfach freigeschaltet und läuft normal weiter.
